body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Isotope A", "Isotope B";
  font-style: normal;
  font-weight: 300;
}

.home-header {
  background-image: url('./assets/landingHeader.jpg');
  background-size: cover;
  background-position: center -40vh;
  height: 90vh;
  width: 100vw
}

